<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Sydney Train Services</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <app-sidebar [selectedCategory]="selectedCategory" (updateSelectedCategory)="selectedCategory=$event"></app-sidebar>
    </nav>
    <main class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" role="main">
      <app-sidebar-detail [allCategories]="allCategories" [selectedCategory]="selectedCategory" (updateSelectedCategory)="selectedCategory=$event"></app-sidebar-detail>
    </main>
  </div>
</div>


